{% load static %}
<section class="about-section padding">
    <div class="container">
    <div class="row about-wrap">
    <div class="col-lg-6 sm-padding">
    <div class="about-content wow fadeInLeft">
    <h2>{{setting.title}}.</h2>
    <p>{{setting.description}}.</p>
    <a href="#" class="default-btn">More About Us</a>
    </div>
    </div>
    <div class="col-lg-6 sm-padding">
    <ul class="about-promo">
    <li class="about-promo-item wow fadeInUp">
    <i class="flaticon-factory"></i>
    <div>
    <h3>Professional Liability</h3>
    <p>We are committed to building a sustainable future by fostering a collaborative spirit.</p>
    </div>
    </li>
    <li class="about-promo-item wow fadeInUp" data-wow-delay="300ms">
    <i class="flaticon-worker"></i>
     <div>
    <h3>Dedicated To Our Clients</h3>
    <p>We are committed to building a sustainable future by fostering a collaborative spirit.</p>
    </div>
    </li>
    <li class="about-promo-item wow fadeInUp" data-wow-delay="500ms">
    <i class="flaticon-gear"></i>
    <div>
    <h3>Outstanding Services</h3>
    <p>We are committed to building a sustainable future by fostering a collaborative spirit.</p>
    </div>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </section>