{% extends 'home.html' %}
{%block decription%}{%endblock%}
{%block title%}{%endblock%}

<!--slider start  -->
{% block slider %}
    {% include "slider.html" %}
{% endblock slider %}
<!--slider end-->
    
    <!--about section start   -->
{% block about %}
    {% include "about.html" %}
{% endblock about %}
<!--about section end-->
<!--services section start  -->
{% block services %}
    {% include "services.html" %}
{% endblock services %}
<!--services section end-->
<!--projects section start  -->
{% block projects %}
    {% include "projects.html" %}
{% endblock projects %}
<!--projects section end-->
<!--client section start  -->
<!--{% block client %}-->
    <!--{% include "client.html" %}-->
<!--{% endblock client %}-->
<!--client section end-->
<!--recent news section start   -->
{% block recentnews %}
    {% include "recentnews.html" %}
{% endblock recentnews %}
<!--recent news section end-->
<!--sponsers section start -->
{% block sponsers %}
    {% include "sponsers.html" %}
{% endblock sponsers %}
<!--sponsers section end-->

{% block container %}

{% endblock container %}

