{% load static %}
<section class="widget-section padding">
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-sm-6 sm-padding">
    <div class="widget-content">
    <a href=""><img src="{{setting.icon.url}}" style="height: 80px; width: 220px" alt="brand"></a>
    <p>{{setting.description}}</p>
    </div>
    </div>
    <div class="col-lg-2 col-sm-6 sm-padding">
    <div class="widget-content">
    <h4>{{setting.company}}</h4>
    <ul class="widget-links">
    <li><a href="{% url 'aboutus' %}">About Us</a></li>
    <li><a href="{% url 'ServicesView' %}">Our Services</a></li>
    <li><a href="{% url 'BlogView' %}">Blog</a></li>
    <li><a href="{% url 'ContactView' %}">Contact Us</a></li>
    </ul>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6 sm-padding">
    <div class="widget-content">
    <h4>Headquaters</h4>
    <p>{{setting.company}}</p>
    <span><a href="{{setting.email}}" class="__cf_email__" data-cfemail="a8e0cdc4c4c7e8e9c4cdd0c9fcc0cdc5cd86c6cddc">[email&#160;protected]</a></span>
    <span>{{setting.phone}}</span>
    </div>
    </div>
    <div class="col-lg-4 col-sm-6 sm-padding">
    <div class="widget-content">
    <h4>Newslatter Subscription</h4>
    <p>Subscribe and get 10% off from our <br>architecture company.</p>
    <div class="subscribe-box clearfix">
    <div class="subscribe-form-wrap">
    <form action="#" class="subscribe-form">
    <input type="email" name="email" id="subs-email" class="form-input" placeholder="Enter Your Email Address...">
    <button type="submit" class="submit-btn">Subscribe</button>
    <div id="subscribe-result">
    <p class="subscription-success"></p>
    <p class="subscription-error"></p>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    <footer class="footer-section align-center">
    <div class="container">
    <p><a href="http://127.0.0.1:8000/">Plaza</a></p>
    </div>
    </footer>