{% load static %}
<header class="header">
    <div class="primary-header">
    <div class="container">
    <div class="primary-header-inner">
    <div class="header-logo">
    <a href="{%url 'home'%}"><img src="{{setting.icon.url}}" style="height: 50px; width: 100px" alt="Indico"></a>
    </div>
    <div class="header-menu-wrap">
    <ul class="dl-menu">
    <li><a href="{% url 'home' %}">Home</a>
    </li>
    <li><a href="{%url 'aboutus'%}">About</a>
    </li>
    <li><a href="{%url 'ServicesView'%}">Services</a>
    </li>
    <li><a href="#">Pages</a>
    <ul>
    <li><a href="{%url 'AllProjects'%}">Our Projects</a></li>
    <li><a href="{%url 'TeamView'%}">Our Team</a></li>
    <li><a href="testimonial.html">Testimonial</a></li>
    <li><a href="404.html">404 Error</a></li>
    </ul>
    </li>
    <li><a href="{%url 'BlogView'%}">Blog</a>
    </li>
    <li><a href="{%url 'ContactView'%}">Contact</a></li>
    </ul>
    </div>
    <div class="header-right">
    <a class="menu-btn" href="#">Request a Quote</a>
    
    <div class="mobile-menu-icon">
    <div class="burger-menu">
    <div class="line-menu line-half first-line"></div>
    <div class="line-menu"></div>
    <div class="line-menu line-half last-line"></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </header>