{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<!-- index.html  29 Nov 2019 03:27:29 GMT -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Construction & Building HTML Template">
<meta name="author" content="AlexaTheme">
<title>Indico | Construction & Building HTML Template</title>
<link rel="shortcut icon" type="image/x-icon" href="{%static ''%}img/favicon.png">

<link rel="stylesheet" href="{%static ''%}css/fontawesome.min.css">

<link rel="stylesheet" href="{%static ''%}css/themify-icons.css">

<link rel="stylesheet" href="{%static ''%}css/elegant-line-icons.css">

<link rel="stylesheet" href="{%static ''%}css/elegant-font-icons.css">

<link rel="stylesheet" href="{%static ''%}css/flaticon.css">

<link rel="stylesheet" href="{%static ''%}css/animate.min.css">

<link rel="stylesheet" href="{%static ''%}css/bootstrap.min.css">

<link rel="stylesheet" href="{%static ''%}css/slick.css">

<link rel="stylesheet" href="{%static ''%}css/slider.css">

<link rel="stylesheet" href="{%static ''%}css/odometer.min.css">

<link rel="stylesheet" href="{%static ''%}css/venobox/venobox.css">

<link rel="stylesheet" href="{%static ''%}css/owl.carousel.css">

<link rel="stylesheet" href="{%static ''%}css/main.css">

<link rel="stylesheet" href="{%static ''%}css/responsive.css">
<script  src="{%static ''%}js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div class="site-preloader-wrap">
<div class="spinner"></div>
</div>
<!--header start-->
{% include "header.html" %}
<!--header end-->

{% block container %}

{% endblock container %}


<!--slider start-->
{% block slider %}

{% endblock slider %}
<!--slider end-->
<!--about section start-->
{% block about %}
   
{% endblock about %}
<!--about section end-->
<!--services section start-->
{% block services %}
   
{% endblock services %}
<!--services section end-->
<!--projects section start-->
{% block projects %}
   
{% endblock projects %}
<!--projects section end-->
<!--client section start-->
<!--{% block client %}-->
   
<!--{% endblock client %}-->
<!--client section end-->
<!--recent news section start-->
{% block recentnews %}
   
{% endblock recentnews %}
<!--recent news section end-->


<!--sponsers section start-->
{% block sponsers %}
   
{% endblock sponsers %}
<!--sponsers section end-->



<!--footer start-->
    {% include "footer.html" %}
<!--footer end-->









<a data-scroll href="#header" id="scroll-to-top"><i class="arrow_carrot-up"></i></a>

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script  src="{%static ''%}js/vendor/jquery-1.12.4.min.js"></script>

<script  src="{%static ''%}js/vendor/bootstrap.min.js"></script>

<script  src="{%static ''%}js/vendor/tether.min.js"></script>

<script  src="{%static ''%}js/vendor/headroom.min.js"></script>

<script  src="{%static ''%}js/vendor/owl.carousel.min.js"></script>

<script  src="{%static ''%}js/vendor/smooth-scroll.min.js"></script>

<script  src="{%static ''%}js/vendor/venobox.min.js"></script>

<script  src="{%static ''%}js/vendor/jquery.ajaxchimp.min.js"></script>

<script  src="{%static ''%}js/vendor/slick.min.js"></script>

<script  src="{%static ''%}js/vendor/waypoints.min.js"></script>

<script  src="{%static ''%}js/vendor/odometer.min.js"></script>

<script  src="{%static ''%}js/vendor/wow.min.js"></script>

<script  src="{%static ''%}js/main.js"></script>
</body>

<!-- index.html  29 Nov 2019 03:30:38 GMT -->
</html>