{% load static %}
<section class="service-section bg-grey padding">
    <div class="dark-bg"></div>
    <div class="section-heading dark-background text-center mb-40 wow fadeInUp" data-wow-delay="100ms">
    <span>Services</span>
    <h2>Take the world’s best <br> services for you</h2>
    </div>
    <div class="container">
    <div class="row">
    <div class="col-lg-10 offset-lg-1">
    <div id="service-carousel" class="service-carousel box-shadow owl-carousel">
        {% for p in services %}
    <div class="service-item">
    <div class="service-icon">
    <i class="{{p.tileicon}}"></i>
    </div>
    <h3>{{p.title}}</h3>
    <p>{{p.details}}</p>
    <a href="#" class="read-more">Read More</a>
    <div class="overlay-icon">
    <i class="{{p.tileicon}}"></i>
    </div>
    </div>
        {% endfor %}
    
    
    </div>
    </div>
    </div>
    </div>
    </section>
    <section class="work-pro-section padding">
        <div class="container">
        <div class="row">
        <div class="col-lg-3 col-sm-6 sm-padding">
        <div class="work-pro-item text-center">
        <span class="number">1</span>
        <div class="number-line"></div>
        <h3>Planning & Research</h3>
        <p>We are committed building a sustainable future fostering a collaborative spirit.</p>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6 sm-padding">
        <div class="work-pro-item text-center">
        <span class="number">2</span>
        <div class="number-line"></div>
        <h3>Design & Ideas</h3>
        <p>We are committed building a sustainable future fostering a collaborative spirit.</p>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6 sm-padding">
        <div class="work-pro-item text-center">
        <span class="number">3</span>
        <div class="number-line"></div>
        <h3>Specialized Projects</h3>
        <p>We are committed building a sustainable future fostering a collaborative spirit.</p>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6 sm-padding">
        <div class="work-pro-item text-center">
        <span class="number">4</span>
        <h3>Final Outputs</h3>
        <p>We are committed building a sustainable future fostering a collaborative spirit.</p>
        </div>
        </div>
        </div>
        </div>
        </section>
        