{% load static %}
<div id="main-slider" class="dl-slider">
        {% for p in constructionPro %}
    <div class="single-slide">
    <div class="bg-img kenburns-top-right" style="background-image: url({{p.imageurl}});"></div>
    <div class="overlay"></div>
    <div class="slider-content-wrap d-flex align-items-center text-left">
    <div class="container">
    <div class="slider-content">
    <div class="dl-caption medium"><div class="inner-layer"><div data-animation="fade-in-right" data-delay="1s">{{p.category}}</div></div></div>
    <div class="dl-caption big"><div class="inner-layer"><div data-animation="fade-in-left" data-delay="2s">{{p.title}}</div></div>
    </div>
    <div class="dl-caption big"><div class="inner-layer"><div data-animation="fade-in-left" data-delay="2.5s">construction services.</div></div></div>
    <div class="dl-caption small"><div class="inner-layer"><div data-animation="fade-in-left" data-delay="3s">{{p.details}}</div></div></div>
    <div class="dl-btn-group">
    <div class="inner-layer">
    <a href="{%url 'Project' id=p.id%}" class="dl-btn" data-animation="fade-in-left" data-delay="3.5s">View Projects <i class="arrow_right"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
        {% endfor %}
    </div>