{% load static %}
<div class="sponsor-section bg-grey">
    <div class="dots"></div>
    <div class="container">
    <div id="sponsor-carousel" class="sponsor-carousel owl-carousel">
    <div class="sponsor-item">
    <img src="{%static ''%}img/sponsor1.png" alt="sponsor">
    </div>
    <div class="sponsor-item">
    <img src="{%static ''%}img/sponsor2.png" alt="sponsor">
    </div>
    <div class="sponsor-item">
    <img src="{%static ''%}img/sponsor3.png" alt="sponsor">
    </div>
    <div class="sponsor-item">
    <img src="{%static ''%}img/sponsor4.png" alt="sponsor">
    </div>
    <div class="sponsor-item">
    <img src="{%static ''%}img/sponsor5.png" alt="sponsor">
    </div>
    <div class="sponsor-item">
    <img src="{%static ''%}img/sponsor6.png" alt="sponsor">
    </div>
    <div class="sponsor-item">
    <img src="{%static ''%}img/sponsor7.png" alt="sponsor">
     </div>
    <div class="sponsor-item">
    <img src="{%static ''%}img/sponsor8.png" alt="sponsor">
    </div>
    </div>
    </div>
    </div>